# Python
__pycache__/
*.py[oc]
build/
dist/
wheels/
*.egg-info

# Virtualenv
.venv/

# Models & Cache (too large, re-downloadable)
../models/
../cache/

# Secrets
.env

# macOS
.DS_Store
.AppleDouble

# IDE
.vscode/
.idea/
*.swp
*.swo
